[Desktop Entry]
Encoding=UTF-8
Name=Poseidon
Comment=Poseidon P2P Cryptocurrency
Exec=poseidon-qt %u
Terminal=false
Type=Application
Icon=poseidon128
MimeType=x-scheme-handler/poseidon;
Categories=Office;Finance;
Name[en_US]=poseidon-qt.desktop.desktop
