[Desktop Entry]
Encoding=UTF-8
Name=Posq
Comment=Posq P2P Cryptocurrency
Comment[fr]=Posq, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Posq, eşten eşe kriptografik sanal para birimi
Exec=posq-qt %u
Terminal=false
Type=Application
Icon=posq128
MimeType=x-scheme-handler/posq;
Categories=Office;Finance;
